.hero {
  margin-top: -10vh;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -5;
}

.slideContainer {
  width: 100%;
  height: 110vh;
}

.eachFade {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.BgImg1 {
  background: url('../../images/515d38db-6aa2-4e98-a7e0-87e9738f6d7d.jpg')
    center / cover no-repeat;
}

.BgImg2 {
  background: url('../../images/8bff73ed-1b1e-493c-aa19-70c4246f7423.jpg')
    center / cover no-repeat;
}

.BgImg3 {
  background: url('../../images/6129e7e2-f9d1-4a49-a5fb-90cd15546db7.jpg')
    center / cover no-repeat;
}
